.Navbar{
    background-color: gray;
    height: 100%;
    width: 100%;
    /* border: 0px solid red; */
background: #FFFFFF;
box-shadow: 40px 180px 80px rgba(23, 24, 28, 0.06);
display: flex;
justify-content: space-evenly;
align-items: center;
flex-direction: column;
}
.Task{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:15%;
    width:90%;
    padding: 6px;
}
.Task h2{
    height:100%;
    width:90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Task button{
 height:100%;
 width:10%;
 display: flex;
 justify-content: center;
 align-items: center;
 border: none;
 outline:none;
 background: none;
}
.Task button svg{
    height:100%;
}
.navigations{
    /* border: 2px solid red; */
    /* margin-top: 50px; */
    height:30%;
width: 90%;
display: flex;
justify-content: space-between;
align-items: flex-start;
}
.navigations-1{
    height:100%;
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigations-1 svg{
    width:100%;
}
.navigations-2{
    height:80%;
    width:70%;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction: column;
}
.navigations a{
    /* border: 2px solid red; */
    display: flex;
    text-decoration: none;
    color: black;
    height:22%;
    width:100%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;
}
.container{
    height:50%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mode-box{
    height:40px;
    width:200px;
left: 34px;
top: 954px;
background-color: rgb(117, 117, 117);
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 20px;
}
.light-mode,.dark-mode{
    height:95%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
 border-radius: 20px;
}
.lightmode-svg,.darkmode-svg{
height:100%;
width:20%;
display: flex;
justify-content: flex-end;
align-items: center;
}
.lightmode-svg svg,.darkmode-svg svg{
height:90%;
}
.light-mode p, .dark-mode p{
    height:100%;
    width:65%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}
.active{
border-radius: 17px ;
background-color:rgb(220, 220, 220);
color: black;
}