* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .popup{
    position: fixed;
    height:100vh;
    width:100%;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    background-color: rgba(0,0,0,0.3);
  }
  .popup-in{
    height:67%;
    width:45%;
    position: relative;
        display:flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: column;
    background: #fff;
    border-radius: 25px;
    /* box-shadow: 0px 0px 3px 3px grey; */
  } 
  .dark .popup-in{
    box-shadow: none;
  }
  .addhead{
    height:20%;
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
  }
  .mid-div{
    height:1%;
    width:55%;
    background-color: rgb(142, 142, 142);
    border-radius: 50%;
  }
  .TodoForm{
    height:75%;
    width:90%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .addhead h2{
    color:black;
    font-size: 30px;
    font-weight: 700;
  }
  .addhead button{
    height:28px;
    width:60px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 500;
  }
  .todo-input{
    height:20%;
    width:80%;
    padding:8px;
    outline: none;
    font-size: 15px; 
    border-radius: 10px;
    background-color: #ebebeb;
    border: none;
  }
  .description{
     height:53%;
    width:80%;
    padding:8px;
    outline: none;
    font-size: 15px;
    background-color:#ebebeb;
    border-radius: 10px;
    border: none;
  }
  .todo-btn{
    height:14%;
    width:30%;
    border-radius: 20px;
    background-color: grey;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border: none; 
  }