@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popup{
  position: fixed;
  height:100vh;
  width:100%;
  top:0;
  left:0;
  display:flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  background-color: rgba(0,0,0,0.3);
}
.popup-in{
  height:67%;
  width:45%;
  position: relative;
      display:flex;
  justify-content: space-between;
  align-items: center; 
  flex-direction: column;
  background: #fff;
  border-radius: 25px;
  /* box-shadow: 0px 0px 3px 3px grey; */
} 
.dark .popup-in{
  box-shadow: none;
}
.addhead{
  height:20%;
  width:90%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
.mid-div{
  height:1%;
  width:55%;
  background-color: rgb(142, 142, 142);
  border-radius: 50%;
}
.TodoForm{
  height:75%;
  width:90%;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.addhead h2{
  color:black;
  font-size: 30px;
  font-weight: 700;
}
.addhead button{
  height:28px;
  width:60px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 500;
}
.todo-input{
  height:20%;
  width:80%;
  padding:8px;
  outline: none;
  font-size: 15px; 
  border-radius: 10px;
  background-color: #ebebeb;
  border: none;
}
.description{
   height:53%;
  width:80%;
  padding:8px;
  outline: none;
  font-size: 15px;
  background-color:#ebebeb;
  border-radius: 10px;
  border: none;
}
.todo-btn{
  height:14%;
  width:30%;
  border-radius: 20px;
  background-color: grey;
  color: white;
  font-size: 17px;
  font-weight: 500;
  border: none; 
}
.app-right-profile #dropdown-basic{
  display: flex;
  justify-content: center;
  align-items: center;
  height:50px;
  width:65px;
  border-radius: 0px;
}
.btn-success {
  --bs-btn-color:none;
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: none;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: none;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: none;
  --bs-btn-disabled-bg: none;
  --bs-btn-disabled-border-color: none;
  display: none;
}
p{
  margin-bottom: 0px;
}
.imgdivtasks{
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgdivtasks img{
  height:70%;
}
.card{
  height: 280px;
  width:450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.dark .card {
  background-color:  rgb(17, 17, 17) ;
  color:white;
}
.card-in{
height:95%;
width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.card-1{
  height:70%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.card-2{
  height:30%;
  width:90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color:rgb(222, 1, 1)
}
.dark .card-2{
  color:grey;
}
.card-1-1{
  height:50%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.card-1-2{
  height:40%;
  width:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.progress{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25%;
    width: 100%;
    /* border: 2px solid rgb(164, 164, 164); */
    border-radius: 25px;
    margin: 10px;
    padding: 2px;
}
.card-1-2 p{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height:75%;
  width:100%;
  font-size: 16px;
  color: grey;
  font-weight: 600;
}
.app-right-head-2-1{
  height:100%;
  width:80%;
  display: flex;
  justify-content:center;
  align-items: center;
}
.app-right-head-2-2{
  height: 100%;
  width:20%;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
.app-right-head-2{
  height:50%;
  width:90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(205, 205, 205);
}
.app-right-head-1-2 .dropdown-toggle::after {
  display: none;
}
.dropdown-toggle::after{
  margin-left: 10px;
}
 .app-right-head-2  #dropdown-basic {
  height:100%;
  width:100%;
  border-radius: 6px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(209, 209, 209); */
  background-color: none;
  border: none;
  font-size: 16px;
}
.app-right-head-2 .dropdown{
  height:85%;
  width:48%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-right-head-2 .dropdown p{
  color: grey;
}
.alltaskscontainer{
  height:100%;
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
      gap:20px;
      display:flex;
    align-items: center;
    /* flex-direction: column;  */
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: auto;
}
.card-1-1-1{
height:65%;
width:100%;
align-items: center;
display: flex;
justify-content: flex-start;
font-weight: 600;
font-size: 19px;
}
.card-1-1-2{
  height:33%;
  width:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: grey;
  font-size: 14px;
}
.App-container-2{
  height:100vh;
 width:100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #302C42;
  font-family: "Montserrat", sans-serif;
}
.app-container-2-head{
  height:10%;
  width:95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
}
.app-container-2-head-1{
  height:100%;
  width:50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
}
.app-container-2-head-2{
  height:100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.app-container-2-head a{
  height:100%;
  width:150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 17px;
}
.app-container-2-body{
  height:90%;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
}
.app-container-2-1{
  height:50%;
  width:50%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: column;
  /* padding-left: 15px; */
  z-index: 1;
}
.app-container-2-1 svg{
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
left:20px;
height:400px;
}
.app-container-2-2{
   height:100%;
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-container-2-2 svg{
  height: 90%;
  position: absolute;
width: 600px;
height: 600px;
left: 747px;
top: 72px;
}
.app-container-2-2 img{
  height: 60%;
/* width: 532.65px; */
/* height: 444.01px; */
/* left: 800.35px;
top: 268.15px; */

background: rgba(0, 0, 0, 0.13);
border-radius: 100px 100px 100px 240px;


  z-index: 1;
}
.app-container-2-1-head{
  height:40%;
  width:90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 60px;
  font-weight: 600;
}
.app-container-2-1-content{
  height:30%;
  width:80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  color: white;
  font-weight: 100;
}
.app-login-navlink{
  height:20%;
  width:80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app-login-navlink a{
  height:90%;
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  color: black;
/* width: 157.56px;
height: 46.84px; */
/* left: 1198.44px;
top: 100.3px; */

background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
border-radius: 40px;

}
.Login-container{
  height:100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  z-index: 999;
}
.login-card{
  height:80%;
  width:80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  background-color: white;
}
.login-card-1{
  height:70%;
  width:45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.login-card-2{
  height: 100%;
  width:55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(117 98 241);
  border-radius: 0px 25px 25px 0px;
}
.login-head{
  height:30%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 600;

}

.login-content{
  height:50%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-content form{
  height:100%;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.login-content form input{
  height:30%;
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  border-radius: 18px;
  border: none;
  background-color: rgb(236, 236, 236);
}
.login-content form button {
  height:15%;
  width:40%;
  display: flex;
  justify-content:center;
  align-items: center;
  border-radius: 26px;
  border: none;
  background-color: rgb(117 98 241); 
  color: whitesmoke;
}
.login-signup{
  height:8%;
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card-2 svg{
  height:75%;
}
.login-signup{
  margin-top:10px;
}
.login-signup p{
  height:100%;
  width:60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: grey;
}
.login-signup button{
  height:100%;
  width:40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: black;
  background-color: white;
  border: none;
  outline: none;
}
.Signup-container{
  height:100vh;
  width:100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.signup-head{
  height:15%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}
.signup-form{
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form form {
  height:100%;
  width:80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.signup-form form input{
  height:16%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  border-radius: 18px;
  border: none;
  background-color: rgb(236, 236, 236);
}
.signup-form form button {
  height:13%;
  width:40%;
  display: flex;
  justify-content:center;
  align-items: center;
  border-radius: 26px;
  border: none;
  background-color: rgb(117 98 241); 
  color: whitesmoke;
}
